<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro jornada laboral</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">
    <style>


    .help {
    border: 3px solid #00aaddff;
    border-radius: 12px;
    padding: 12px;
    padding-left: 10px;
    background-image: url("./static/img/Question.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    margin-bottom: 10px;
    display: none;

    }

    .help p {
    padding-left: 30px;
    }

    img#help {
    width: 40px;
    }

    .deleteButton, .question {
        width: 25px;
        vertical-align: top;
        margin-left: 15px;

    }

    .pasteButton, .copyButton {
        width: 25px;
        display: none;
    }


    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="date"], form input[type="time"] {

    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; /* Mostrar en línea para que estén en la misma línea */
    vertical-align: middle; /* Alinear verticalmente */
    box-sizing: border-box; /* Incluir el padding y border en el ancho total */
}

form input[type="text"] {
width: 300px;
}

form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#schedule {
    margin-bottom: 20px;
}

.day {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#saturday, #sunday {
display: none;
}



.day h3 {
    color: #333;
    margin-bottom: 5px;
    display: inline-block; /* Alinear los títulos en línea con los botones */
}

.add-interval, #addUnusual, #addHoliday {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;

}



.add-interval:hover, #addUnusual:hover, #addHoliday:hover {
    background-color: #45A049;
}


#upload-form-btn, #download-form-btn{
    background-color: #FFA500;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*
#upload-form-input {
    display: none;
}
*/

#upload-form-btn:hover, #download-form-btn:hover {
    background-color: #D89111;
    margin-bottom: 10px;
}

#specialSchedule, #holidaySchedule {
    margin-bottom: 20px;
}


div#results {
display:none;
margin-top: 10px;
}


#scheduleTable {
    width: 40%;
    margin-left: 30%;
    border-collapse: collapse;
    margin-top: 20px;

}

#scheduleTable th, #scheduleTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#scheduleTable th {
    background-color: #f2f2f2;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p#ptotalhours {
font-size: 150%;
background-color: #f2f2f2;
width: 40%;
margin-left: 30%;
text-align: center;
}
#importadoHorario, #importadoFestivos, #compruebaDatos {
display: none;
background-color: #45A049;
color: #FFFFFF;
border: 3px;
width: 400px;
padding: 5px;
}

p#enpruebas {
color: red;
border: 3px solid red;
width: 80%;
text-align: center;
margin-left: 10%;
}

    </style>
</head>
<body>
    <h1>Generador de Registro de jornada laboral</h1>

    <img id="help" alt="Ayuda" src="./static/img/Question.svg">

    <form id="importexport" action="/subir_datos" method="post" enctype="multipart/form-data">
        <h2>Exportar o importar los datos del formulario.</h2>
        <div class="help">
        <p>Se puede exportar el horario de trabajo a un fichero de texto, para poder importarlo más tarde y reutilizarlo para realizar el registro de jornada de otro período.</p>
        <p>La idea es introducir en el formulario nuestro horario habitual y los festivos del curso. Luego exportaremos estos datos a un fichero. Posteriormente podremos importar este fichero y solamente tendremos que introducir el rango de fechas a generar (por ejemplo un mes o un trimestre) y los horarios excepcionales durante ese período.</p>
        <p>Se puede importar el horario de trabajo y los festivos, pero <strong>no</strong> los horarios excepcionales.</p>
        <p>Si alguien introduce todos los festivos del curso y deja el horario regular en blanco, este fichero exportado puede ser reutilizado por otras personas.</p>
        </div>

        <button type="submit" id="upload-form-btn" title="Cargar un fichero con los datos introducidos en el formulario.">Importar datos</button>
        <input  type="file" id="upload-form-input" name="upload-form-btn"><br>
        <button id="download-form-btn" title="Descargar un fichero con los datos actualmente introducidos en el formulario.">Exportar horario</button>
        <p id="importadoHorario">Se ha importado un horario.</p>
        <p id="importadoFestivos">Se han importado festivos.</p>
        <p id="compruebaDatos">Por favor, comprueba los datos del formulario.</p>

    </form>

    <form id="workForm">
        <label for="name">Nombre:</label>
            <input type="text" id="name" class="text" name="name"  required>
        <label for="empresa">Empresa:</label>
            <select id="empresa" name="empresa" required>
                <option value="">Selecciona una opción</option>
                <option value="Col·legi Sagrada Familia (Cornellà)">Col·legi Sagrada Familia (Cornellà)</option>
                <option value="Col·legi San José (Tavernes de la Valldigna)">Col·legi San José (Tavernes de la Valldigna)</option>
                <option value="Colegio Nuestra Señora de los Dolores (Benidorm)">Colegio Nuestra Señora de los Dolores (Benidorm)</option>
                <option value="Colegio Sagrado Corazón (Mislata)">Colegio Sagrado Corazón (Mislata)</option>
                <option value="Colegio Sagrada Familia (Valencia)">Colegio Sagrada Familia (Valencia)</option>
                <option value="Colegio San José (La Pobla de Vallbona)">Colegio San José (La Pobla de Vallbona)</option>
            </select>
        <label for="horascontrato">Horas según contrato:</label>
            <input type="number" id="horascontrato" class="text" name="horascontrato"  required>



        <label for="date-range">Rango de Fechas:</label>
        <input type="text" id="date-range" class="date-range" name="date-range"  required>
        <br>
        <h2>Horario de Trabajo</h2>
        <div class="help">
        <p>El horario de trabajo normal es el que se repite todas las semanas.</p>
        <p>Se pueden introducir varios intervalos horarios dejando "huecos" entre ellos si no forman parte de la jornada laboral.</p>
        <p>Los botones <img alt="Copiar" src="./static/img/Copy.svg"> y <img alt="Pegar" src="./static/img/Paste.svg"> sirven para copiar y pegar todos los intervalos horarios del día.</p>
        </div>
        <div id="schedule">
            <div class="day" id="monday">
                <h3>Lunes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('monday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="tuesday">
                <h3>Martes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('tuesday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="wednesday">
                <h3>Miércoles:</h3>
                <button type="button" class="add-interval" onclick="addInterval('wednesday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="thursday">
                <h3>Jueves:</h3>
                <button type="button" class="add-interval" onclick="addInterval('thursday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="friday">
                <h3>Viernes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('friday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="saturday">
                <h3>Sábado:</h3>
                <button type="button" class="add-interval" onclick="addInterval('saturday')">Agregar Intervalo</button>
                <img class="copy" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
            <div class="day" id="sunday">
                <h3>Domingo:</h3>
                <button type="button" class="add-interval" onclick="addInterval('sunday')">Agregar Intervalo</button>
                <img class="copyButton" alt="Copiar" onclick="copyDay(this)" src="./static/img/Copy.svg">
                <img class="pasteButton" alt="Pegar" onclick="pasteDay(this)" src="./static/img/Paste.svg">
                <br>
            </div>
        </div>
        <h2>Horarios Especiales</h2>
            <div id="specialSchedule">
                <div id="unusualSchedule">
                    <button type="button" id="addUnusual" onclick="addUnusualTime()">Agregar Horario Excepcional</button>
                <div class="help">
                <p>Un horario excepcional es aquel que no se corresponde con el horario de trabajo normal que se repite cada semana (una reunión de evaluación, una salida complementaria,...). Este horario excepcional se <strong>añade</strong> al horario normal correspondiente al día de la semana.</p>
                <p>Si queremos <strong>sustituir</strong> nuestro horario habitual por un horario excepcional en lugar de añadirlo, se recomienda eliminar el horario habitual de ese día haciéndolo constar como festivo.</p>
                </div>

                </div>
                <div id="holidaySchedule">
                    <button type="button" id="addHoliday" onclick="addHolidayInterval()">Agregar Festivos</button>
                    <div class="help">
                        <p>Un festivo es una fecha o rango de fechas en las que no se realiza el horario de trabajo normal (si alguien descubre esto ahora, entenderá por qué el colegio estaba, en ocasiones, tan solitario &#128517;).</p>
                        <p>Hay que pulsar sobre el primer día festivo y luego sobre el último. Para seleccionar un solo día festivo hay que pulsar dos veces sobre él.</p>

                    </div>
                </div>
            </div>







            <h2>Generar e imprimir registros</h2>
            <button type="submit">Previsualizar registro de jornada</button>
            <div class="help">
            <p>"Previsualizar registro de jornada" muestra la tabla con el registro de jornada en esta misma página, y activa el botón para imprimirla.</p>
            </div>
            <div id="results">
            <button type="submit" id="download-odt-btn">Imprimir registro de jornada</button>
            <div class="help">
            <p>"Imprimir registro de jornada" permite descargar un fichero de texto ODT con el registro de jornada para imprimirlo.</p>
            <p>El motivo por el que se genera un ODT editable y no un PDF es porque siempre cabe la posibilidad de que alguna situación excepcional no pueda registrarse con este cuestionario. En ese caso siempre podremos editar el documento "a mano".</p>
            </div>
            <p id="ptotalhours">El total de horas trabajadas es <span id="total_hours"></span> </p>
            <h1>Tabla de Horarios</h1>
    <table id="scheduleTable">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Intervalos de Tiempo</th>
                <th>Horas trabajadas</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán las filas dinámicamente -->
        </tbody>
    </table>

    </div>
     </form>
    <p id="enpruebas">Aviso importante: En este momento el programa no ha sido probado suficientemente. Los datos que genera deben ser comprobados. Por favor, manda cualquier sugerencia o aviso a Pere en el colegio de Mislata.</p>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>

    <script>


/*
    // Si se activa la ocultación de Navega... devuelve una página en blanco.

    // Pulsar el botón upload-form-btn equivale a pulsar el upload-form-btn que está oculto

    document.getElementById('upload-form-btn').addEventListener('click', function() {
            document.getElementById('upload-form-input').click();
        });



    // Envio automático cuando seleccionamos un fichero en upload-form-input
    document.getElementById('upload-form-input').addEventListener('change', function() {
            document.getElementById('importexport').submit();
        });
*/

    /*
    document.getElementById('download-btn-html').addEventListener('click', function() {
        // Obtener los datos de la tabla
        var table = document.getElementById('scheduleTable');

        // Crear un objeto Blob con los datos de la tabla en formato HTML
        var htmlContent = '<html><head><title>Tabla Editable</title></head><body>' + table.outerHTML + '</body></html>';
        var blob = new Blob([htmlContent], { type: 'text/html' });

        // Crear un enlace de descarga
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'tabla_editable.html';

        // Simular un clic en el enlace para iniciar la descarga
        a.click();

        // Liberar recursos
        URL.revokeObjectURL(url);
    });
    */


        document.getElementById('download-form-btn').addEventListener('click', function() {

            // Limpiamos el input de importación, prevenimos importación al enviar este formulario.
            document.getElementById('upload-form-input').value = "";

            // Recopila los datos del formulario y los manda al backend para que los devuelva en json y poder guardarlos en un fichero.
            const name = document.querySelector(`input[name="name"]`).value;
            const empresa = document.querySelector(`select[name="empresa"]`).value;
            const horascontrato = document.querySelector(`input[name="horascontrato"]`).value;
            const daterange = document.querySelector(`input[name="date-range"]`).value;

            const schedule = makeSchedule();
            const holidays = makeHolidays();
            const unusuals = makeUnusuals();

            // Enviar los datos de la tabla al backend

            fetch('/descargar_formulario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // name: name,
                    empresa: empresa,
                    horascontrato: horascontrato,
                    daterange: daterange,
                    schedule: schedule,
                    holidays: holidays,
                    unusuals: unusuals
                    })
            })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                }
                throw new Error('Error al descargar el archivo.');
            })
            .then(blob => {
                // Crear un enlace de descarga para el archivo JSON
                var url = URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'Datos registro jornada laboral.txt';
                a.click();
                URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error:', error);
            });


        });


        // Activar y desactivar las ayudas
        document.getElementById('help').addEventListener('click', function() {
            document.querySelectorAll('.help').forEach(helpdiv => {
                if (helpdiv.style.display == 'block') {
                    helpdiv.style.display = 'none';
                } else {
                    helpdiv.style.display = 'block';
                }
            });

        });





        document.getElementById('download-odt-btn').addEventListener('click', function() {

            // El "required" del rango de fechas parece no funcionar.
            if (document.getElementById("date-range").value === "") {
                //alert("Por favor, introduce un rango de fechas.");
                return;
                }

            var tableHtml = document.getElementById('scheduleTable').outerHTML;
            const name = document.querySelector(`input[name="name"]`).value;
            const empresa = document.querySelector(`select[name="empresa"]`).value;
            const horascontrato = document.querySelector(`input[name="horascontrato"]`).value;
            const daterange = document.querySelector(`input[name="date-range"]`).value;
            const totalhours = document.getElementById('total_hours').textContent;

            // Enviar los datos de la tabla al backend

            fetch('/descargar_tabla_odt', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    empresa: empresa,
                    horascontrato: horascontrato,
                    daterange: daterange,
                    tableHtml: tableHtml,
                    totalhours: totalhours
                    })
            })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                }
                throw new Error('Error al descargar el archivo.');
            })
            .then(blob => {
                // Crear un enlace de descarga para el archivo ODT
                var url = URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'Registro jornada laboral(' +  name + ' - ' + daterange + ').odt';
                a.click();
                URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        flatpickr(".date-range", {
            mode: "range",
            dateFormat: "d/m/Y",
            
            
            locale: {
                rangeSeparator: " hasta ",
                firstDayOfWeek: 1, // Establece que la semana comience en lunes
                weekdays: {
                    shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                },
                months: {
                    shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                }
            }
            
            
            
            
            
        });

        /*function addInterval(day) {
            const container = document.getElementById(day);
            const intervalDiv = document.createElement('div');
            intervalDiv.className = 'interval';

            const entrySelect = createSelect('entry', day);
            const exitSelect = createSelect('exit', day);
            
            intervalDiv.appendChild(document.createTextNode('Entrada: '));
            intervalDiv.appendChild(entrySelect);
            intervalDiv.appendChild(document.createTextNode(' Salida: '));
            intervalDiv.appendChild(exitSelect);
            container.appendChild(intervalDiv);
        } */
        
        function addDeleteButton() {
            const deleteButton = document.createElement('img');
            deleteButton.src = "{{ url_for('static', filename='img/Delete.svg') }}"; // Ruta de la imagen que deseas utilizar
            deleteButton.alt = 'Eliminar';
            deleteButton.className= 'deleteButton';
            deleteButton.addEventListener('click', function(event) {
                // Desactivar el botón de copiar si no hay intervalos horarios
                if (event.currentTarget.parentNode.parentNode.className === 'day') {
                    if (event.currentTarget.parentNode.parentNode.querySelectorAll('.interval').length === 1) { // Solamente queda uno, y lo vamos a eliminar.
                        event.currentTarget.parentNode.parentNode.querySelector('.copyButton').style.display = 'none';
                    }
                }
                deleteButton.parentNode.remove();
            });
            return deleteButton;
        }
        
        function addInterval(day, entry, exit) {
            
            const container = document.getElementById(day);
            const intervalDiv = document.createElement('div');
            intervalDiv.className = 'interval';
            
            const entrySelect = createTimeInput('entry', day, entry);
            const exitSelect = createTimeInput('exit', day, exit);
            
            /*const deleteButton = document.createElement('button');
            deleteButton.textContent = 'Eliminar este intervalo';
            deleteButton.addEventListener('click', function() {
            container.removeChild(intervalDiv);
            });*/
            
                      

            intervalDiv.appendChild(document.createTextNode('Entrada: '));
            intervalDiv.appendChild(entrySelect);
            intervalDiv.appendChild(document.createTextNode(' Salida: '));
            intervalDiv.appendChild(exitSelect);
            
            

            intervalDiv.appendChild(addDeleteButton());
            
            
            container.appendChild(intervalDiv);

            // Activar el botón de copiar
            container.querySelector('.copyButton').style.display = 'inline';
        }
        
        function createTimeInput(type, day, value) {
            const timeInput = document.createElement('input');
            timeInput.className = 'timepicker';
            timeInput.type = 'time';
            timeInput.name = `${day}-${type}`;
            timeInput.required = true;
            timeInput.value = value;
            
            return timeInput;
        
        }

        /*function createSelect(type, day) {
            const select = document.createElement('select');
            select.className = 'timepicker';
            select.name = `${day}-${type}`;

            const minHour = 8; // Hora mínima (ejemplo: 08:00)
            const maxHour = 18; // Hora máxima (ejemplo: 18:00)

            // Agregar opciones al select con intervalos de 5 minutos
            for (let hour = minHour; hour <= maxHour; hour++) {
                for (let minute = 0; minute < 60; minute += 5) { // Intervalos de 5 minutos
                    const time = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
                    const option = document.createElement('option');
                    option.value = time;
                    option.textContent = time;
                    select.appendChild(option);
                }
            }

            return select;
        }*/
        
        function addHolidayInterval(range="") {
            const specialSchedule = document.getElementById('holidaySchedule');
            const holidayDiv = document.createElement('div');
            holidayDiv.className = 'interval';
    
            const dateRangeInput = document.createElement('input');
            dateRangeInput.type = 'text'; // Cambiar a 'text' en lugar de 'daterange'
            dateRangeInput.name = 'holiday-range';
            dateRangeInput.className= 'date-range';
            dateRangeInput.required = true;
            dateRangeInput.value = range;
            holidayDiv.appendChild(document.createTextNode('Rango de fechas festivas: '));
            holidayDiv.appendChild(dateRangeInput);
            
            holidayDiv.appendChild(addDeleteButton());
    
            specialSchedule.appendChild(holidayDiv);
    
            // Inicializar Flatpickr en el nuevo input de rango de fechas
            flatpickr(".date-range", {
                mode: "range",
                dateFormat: "d/m/Y",
                locale: {
                    rangeSeparator: " hasta ",
                    firstDayOfWeek: 1, // Establece que la semana comience en lunes
                    weekdays: {
                        shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                    },
                    months: {
                        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                    }
                }

            });
        }
        
        function addUnusualTime(date, start_time, end_time) {
            const specialSchedule = document.getElementById('unusualSchedule');
            const specificTimeDiv = document.createElement('div');
            specificTimeDiv.className = 'interval';
    
            const dateInput = document.createElement('input');
            dateInput.type = 'date';
            dateInput.name = 'specific-date';
            //console.log("Fecha incorporada: " + date)
            dateInput.value = date;
            dateInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode('Fecha: '));
            specificTimeDiv.appendChild(dateInput);
    
            const startTimeInput = document.createElement('input');
            startTimeInput.type = 'time';
            startTimeInput.name = 'start-time';
            startTimeInput.value = start_time;
            startTimeInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode(' Entrada: '));
            specificTimeDiv.appendChild(startTimeInput);
    
            const endTimeInput = document.createElement('input');
            endTimeInput.type = 'time';
            endTimeInput.name = 'end-time';
            endTimeInput.value = end_time;
            endTimeInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode(' Salida: '));
            specificTimeDiv.appendChild(endTimeInput);
            
            specificTimeDiv.appendChild(addDeleteButton());
    
            specialSchedule.appendChild(specificTimeDiv);



            flatpickr(dateInput, {
                mode: "single",
                dateFormat: "d/m/Y",

                locale: {
                    rangeSeparator: " hasta ",
                    firstDayOfWeek: 1, // Establece que la semana comience en lunes
                    weekdays: {
                        shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                    },
                    months: {
                        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                    }
                }


            });
        }


        function makeSchedule() {
            // Procesa el horario regular

            const schedule = {};

            document.querySelectorAll('.day').forEach(day => {
                const dayName = day.id;
                schedule[dayName] = [];
                day.querySelectorAll('.interval').forEach(interval => {
                    const entry = interval.querySelector(`input[name="${dayName}-entry"]`).value;
                    const exit = interval.querySelector(`input[name="${dayName}-exit"]`).value;
                    schedule[dayName].push({ entry, exit });
                });
            });

            return schedule;
        }

        function makeDateRange() {

            const dateRange = document.getElementById('date-range').value.split(" hasta ");

            return dateRange;
        }


        function makeHolidays() {

            // Procesa los festivos

            const holidays = [];

            const holidaysSchedule = document.getElementById('holidaySchedule');
            holidaysSchedule.querySelectorAll('.date-range').forEach(holidayRange => {
                const dateRange = holidayRange.value.split(" hasta ");
                const start_date = dateRange[0];
                const end_date = dateRange[1];
                holidays.push([start_date , end_date]);

            });

            return holidays;

        }

        function makeUnusuals() {
            // Procesa los horarios excepcionales

            const unusuals = [];
            const unusualSchedule = document.getElementById('unusualSchedule');

            unusualSchedule.querySelectorAll('.interval').forEach(unusualWorkDay => {
                const date = unusualWorkDay.querySelector(`input[name="specific-date"]`).value;
                const start_time = unusualWorkDay.querySelector(`input[name="start-time"]`).value;
                const end_time = unusualWorkDay.querySelector(`input[name="end-time"]`).value;

                unusuals.push({ date, start_time, end_time });
            });

            return unusuals;
        }

        function convertMinutesToHHMM(minutos) {
            // Convierte la cantidad minutos en un texto con el formato HH:MM

                var horas = Math.floor(minutos / 60);
                var minutosRestantes = minutos % 60;

                return horas + ":" + (minutosRestantes < 10 ? '0' : '') + minutosRestantes;
            }




        document.getElementById('workForm').addEventListener('submit', function(e) {
            e.preventDefault();


            // El "required" del rango de fechas parece no funcionar.
            if (document.getElementById("date-range").value === "") {
                alert("Por favor, introduce un rango de fechas.");
                return;
                }

            // El "required" de la fecha de los horarios especiales parece no funcionar.
            document.querySelectorAll('.flatpickr-input').forEach(holiday_date => {
                if (holiday_date.value === "") {
                    alert("Por favor, comprueba que las fechas de los festivos y los horarios especiales se han introducido correctamente.");
                    return;
                }
            });


            const dateRange = makeDateRange();
            const start_date = dateRange[0];
            const end_date = dateRange[1];
            const schedule = makeSchedule();
            const holidays = makeHolidays();
            const unusuals = makeUnusuals();



            fetch('/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ start_date, end_date, schedule, unusuals, holidays})
            })
            .then(response => response.json())
            .then(data => {

                    const totalHours = document.querySelector('#total_hours');
                    totalHours.textContent = convertMinutesToHHMM(data.total_minutes);


                    const tableBody = document.querySelector('#scheduleTable tbody');
                    tableBody.innerHTML = ''; // Vacía la tabla antes de llenarla con los nuevos datos
                    data.table_sumary.forEach(item => {
                        const row = document.createElement('tr');
                        const dateCell = document.createElement('td');
                        dateCell.textContent = item[0];
                        row.appendChild(dateCell);

                        const intervalsCell = document.createElement('td');
                        item[1].forEach(interval => {
                            const intervalText = document.createTextNode(`${interval[0]} - ${interval[1]}`);
                            intervalsCell.appendChild(intervalText);
                            intervalsCell.appendChild(document.createElement('br'));
                        });
                        row.appendChild(intervalsCell);

                        const valueCell = document.createElement('td');
                        valueCell.textContent = convertMinutesToHHMM(item[2]);
                        row.appendChild(valueCell);

                        tableBody.appendChild(row);
                    });
                //document.getElementById('scheduleTable').style.display = 'table';
                document.getElementById('results').style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        });



        // Importar horario desde un fichero de texto

        document.getElementById('importexport').addEventListener('submit', function(e) {
    e.preventDefault();

    const fileInput = document.getElementById('upload-form-input');
    const file = fileInput.files[0]; // Obtener el primer archivo seleccionado

    if (file) {
        const reader = new FileReader();
        reader.onload = function(event) {
            const contenido = event.target.result;

            // Enviar el contenido del archivo al backend
            fetch('/subir_datos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: contenido
            })
            .then(response => response.json())
            .then(data => {

                document.getElementById('empresa').value = data["empresa"];
                document.getElementById('horascontrato').value = data["horascontrato"];

                // El intervalo generalmente será distinto, así que no se importa.
                //document.getElementById('date-range').value = data["daterange"];
                document.getElementById('date-range').value = "";


                /*
                // Seleccionar todos los elementos <div> con la clase "interval"
                const elementosInterval = document.querySelectorAll('div.interval');
                // Recorrer y eliminar cada elemento
                elementosInterval.forEach(elemento => {
                elemento.remove();
                });
                */


                // Procesando Schedule
                const divSchedule = document.getElementById("schedule");
                for (const day in data["schedule"]) {
                    // Limpieza de datos anteriores
                    if (data["schedule"][day].length !== 0) {
                        document.getElementById('importadoHorario').style.display = 'block';
                        document.getElementById('compruebaDatos').style.display = 'block';
                        // Seleccionar todos los elementos <div> con la clase "interval"
                        const elementosInterval = divSchedule.querySelectorAll('div.interval');
                        // Recorrer y eliminar cada elemento
                        elementosInterval.forEach(elemento => {
                        elemento.remove();
                        });
                        }
                }
                // Añadir nuevos datos
                for (const day in data["schedule"]) {
                    const intervals = data["schedule"][day];
                    for (let i = 0; i < intervals.length; i++) {
                        const entry = intervals[i].entry;
                        const exit = intervals[i].exit;
                        addInterval(day, entry,exit);
                    }
                }


                // Procesando unusuals
                /*
                console.log(data["unusuals"]);

                for (let i = 0; i < data["unusuals"].length; i++) {
                    const unusual = data["unusuals"][i];

                    const date = unusual.date;
                    const start_time = unusual.start_time;
                    const end_time = unusual.end_time;
                    console.log("Date: " + date);
                    let partesFecha = date.split('/');
                    console.log("partesFecha: " + partesFecha);
                    let fechaConvertida = partesFecha[2] + '-' + partesFecha[1] + '-' + partesFecha[0];
                    console.log("fechaConvertida: " + fechaConvertida);
                    console.log("Date: " + date);
                    addUnusualTime(fechaConvertida, start_time, end_time);



                }
                */



                // Procesando holidays
                const divHolidays = document.getElementById("holidaySchedule");
                // Limpieza de datos anteriores
                if (data["holidays"].length !== 0) {
                    document.getElementById('importadoFestivos').style.display = 'block';
                    document.getElementById('compruebaDatos').style.display = 'block';
                    // Seleccionar todos los elementos <div> con la clase "interval"
                        const elementosInterval = divHolidays.querySelectorAll('div.interval');
                        // Recorrer y eliminar cada elemento
                        elementosInterval.forEach(elemento => {
                        elemento.remove();
                        });
                }

                    for (let i = 0; i < data["holidays"].length; i++) {
                        //console.log("holiday: " + data["holidays"][i])
                        const interval = data["holidays"][i];
                        //console.log("interval: " + interval)
                        var start = interval[0];
                        var end = interval[1];

                        if (end == null) {
                            end = start;
                        }

                        //console.log("start: " + start + " - " + "end: " + end);
                        addHolidayInterval(start + " hasta " + end);
                    }



            })
            .catch(error => console.error('Error:', error));
        };

        reader.readAsText(file); // Leer el contenido del archivo como texto
    } else {
        console.log('No se ha seleccionado ningún archivo.');
    }
});


        var intervalosCopiados = []; // Esta variable contendrá los intervalos al usar el botón de copiar.

        // Copiar horario diario
        function copyDay(element) {
            var day = element.parentNode;
            var dayName = day.id;
            var intervals = [];


            day.querySelectorAll('.interval').forEach(interval => {
                    const entry = interval.querySelector(`input[name="${dayName}-entry"]`).value;
                    const exit = interval.querySelector(`input[name="${dayName}-exit"]`).value;
                    intervals.push({ 'entry': entry, 'exit' : exit });
                });
            console.log(intervals);

            // Si intervalos copiados, activamos los botones de "pegar".
            // No hay posibilidad de desactivar los botones de pegar una vez activados, ya que no se puede olvidar lo copiado.
            document.querySelectorAll('.pasteButton').forEach(pasteButton => {
                pasteButton.style.display = 'inline';
            });

            intervalosCopiados = intervals;

        }

        // Pegar horario diario

        function pasteDay(element) {
            var day = element.parentNode;
            var dayName = day.id;
            for (var i = 0; i < intervalosCopiados.length; i++) {
                var entry = intervalosCopiados[i].entry;
                var exit = intervalosCopiados[i].exit;
                addInterval(dayName, entry, exit)

            }



        }

    </script>
</body>
</html>
