<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Horas de Trabajo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">
    <style>

    .deleteButton {
        width: 20px;
        vertical-align: middle;
        margin-left: 15px;
    }


    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="date"], form input[type="time"] {

    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; /* Mostrar en línea para que estén en la misma línea */
    vertical-align: middle; /* Alinear verticalmente */
    box-sizing: border-box; /* Incluir el padding y border en el ancho total */
}

form input[type="text"] {
width: 300px;
}

form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#schedule {
    margin-bottom: 20px;
}

.day {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.day h3 {
    color: #333;
    margin-bottom: 5px;
    display: inline-block; /* Alinear los títulos en línea con los botones */
}

.add-interval, #addUnusual, #addHoliday {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Añadir un margen izquierdo para separar los botones */
}

.add-interval:hover, #addUnusual:hover, #addHoliday:hover {
    background-color: #45a049;
}

#specialSchedule, #holidaySchedule {
    margin-bottom: 20px;
}



#scheduleTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#scheduleTable th, #scheduleTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#scheduleTable th {
    background-color: #f2f2f2;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

        
    </style>
</head>
<body>
    <h1>Calculador de Horas de Trabajo</h1>
    <form id="workForm">
        <label for="name">Nombre:</label>
            <input type="text" id="name" class="text" name="name"  required>
        <label for="empresa">Empresa:</label>
            <select id="empresa" id="empresa" name="empresa" required>
                <option value="Colegio Sagrado Corazón">Colegio Sagrado Corazón</option>
            </select>
        <label for="horascontrato">Horas según contrato:</label>
            <input type="number" id="horascontrato" class="text" name="horascontrato"  required>



        <label for="date-range">Rango de Fechas:</label>
        <input type="text" id="date-range" class="date-range" name="date-range"  required>
        <br>
        <h2>Horario de Trabajo</h2>
        <div id="schedule">
            <div class="day" id="monday">
                <h3>Lunes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('monday')">Agregar Intervalo</button>
                <br>
            </div>
            <div class="day" id="tuesday">
                <h3>Martes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('tuesday')">Agregar Intervalo</button>
                <br>
            </div>
            <div class="day" id="wednesday">
                <h3>Miércoles:</h3>
                <button type="button" class="add-interval" onclick="addInterval('wednesday')">Agregar Intervalo</button>
                <br>
            </div>
            <div class="day" id="thursday">
                <h3>Jueves:</h3>
                <button type="button" class="add-interval" onclick="addInterval('thursday')">Agregar Intervalo</button>
                <br>
            </div>
            <div class="day" id="friday">
                <h3>Viernes:</h3>
                <button type="button" class="add-interval" onclick="addInterval('friday')">Agregar Intervalo</button>
                <br>
            </div>
        </div>
        <h2>Horarios Especiales</h2>
            <div id="specialSchedule">
                <div id="unusualSchedule">
                    <button type="button" id="addUnusual" onclick="addUnusualTime()">Agregar Horario Excepcional</button>
                    <p>El horario excepcional se añade al horario normal correspondiente al día de la semana.</p>
                </div>
                <div id="holidaySchedule">
                    <button type="button" id="addHoliday" onclick="addHolidayInterval()">Agregar Festivos</button>
                </div>
            </div>
            <h2>Calcular totales</h2>
            
            <button type="submit">Calcular Horas</button>

            <h1>Tabla de Horarios</h1>
    <table id="scheduleTable">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Intervalos de Tiempo</th>
                <th>Horas trabajadas</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán las filas dinámicamente -->
        </tbody>
    </table>

    <button id="download-btn-html">Descargar Tabla HTML</button>
    <button id="download-btn-odt">Descargar ODT</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>

    <script>
    document.getElementById('download-btn-html').addEventListener('click', function() {
        // Obtener los datos de la tabla
        var table = document.getElementById('scheduleTable');

        // Crear un objeto Blob con los datos de la tabla en formato HTML
        var htmlContent = '<html><head><title>Tabla Editable</title></head><body>' + table.outerHTML + '</body></html>';
        var blob = new Blob([htmlContent], { type: 'text/html' });

        // Crear un enlace de descarga
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'tabla_editable.html';

        // Simular un clic en el enlace para iniciar la descarga
        a.click();

        // Liberar recursos
        URL.revokeObjectURL(url);
    });
</script>

<script>
        document.getElementById('download-btn-odt').addEventListener('click', function() {
            var tableHtml = document.getElementById('scheduleTable').outerHTML;
            const name = document.querySelector(`input[name="name"]`).value;
            const empresa = document.querySelector(`select[name="empresa"]`).value;
            const horascontrato = document.querySelector(`input[name="horascontrato"]`).value;
            const daterange = document.querySelector(`input[name="date-range"]`).value;
            console.log(tableHtml);

            // Enviar los datos de la tabla al backend
            fetch('/descargar_tabla_odt', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: name, empresa: empresa, horascontrato: horascontrato, daterange: daterange, tableHtml: tableHtml })
            })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                }
                throw new Error('Error al descargar el archivo.');
            })
            .then(blob => {
                // Crear un enlace de descarga para el archivo ODT
                var url = URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'tabla_editable.odt';
                a.click();
                URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

    <script>
        flatpickr(".date-range", {
            mode: "range",
            dateFormat: "d/m/Y",
            
            
            locale: {
                rangeSeparator: " hasta ",
                firstDayOfWeek: 1, // Establece que la semana comience en lunes
                weekdays: {
                    shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                    longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                },
                months: {
                    shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                }
            }
            
            
            
            
            
        });

        /*function addInterval(day) {
            console.log("x:")
            const container = document.getElementById(day);
            const intervalDiv = document.createElement('div');
            intervalDiv.className = 'interval';

            const entrySelect = createSelect('entry', day);
            const exitSelect = createSelect('exit', day);
            
            intervalDiv.appendChild(document.createTextNode('Entrada: '));
            intervalDiv.appendChild(entrySelect);
            intervalDiv.appendChild(document.createTextNode(' Salida: '));
            intervalDiv.appendChild(exitSelect);
            container.appendChild(intervalDiv);
        } */
        
        function addDeleteButton() {
            const deleteButton = document.createElement('img');
            deleteButton.src = "{{ url_for('static', filename='img/delete.svg') }}"; // Ruta de la imagen que deseas utilizar
            deleteButton.alt = 'Eliminar';
            deleteButton.className= 'deleteButton';
            deleteButton.addEventListener('click', function() {
                deleteButton.parentNode.remove();
            });
            return deleteButton;
        }
        
        function addInterval(day) {
            
            const container = document.getElementById(day);
            const intervalDiv = document.createElement('div');
            intervalDiv.className = 'interval';
            
            const entrySelect = createTimeInput('entry', day);
            const exitSelect = createTimeInput('exit', day);
            
            /*const deleteButton = document.createElement('button');
            deleteButton.textContent = 'Eliminar este intervalo';
            deleteButton.addEventListener('click', function() {
            container.removeChild(intervalDiv);
            });*/
            
                      

            intervalDiv.appendChild(document.createTextNode('Entrada: '));
            intervalDiv.appendChild(entrySelect);
            intervalDiv.appendChild(document.createTextNode(' Salida: '));
            intervalDiv.appendChild(exitSelect);
            
            

            intervalDiv.appendChild(addDeleteButton());
            
            
            container.appendChild(intervalDiv);
        }
        
        function createTimeInput(type, day) {
            const timeInput = document.createElement('input');
            timeInput.className = 'timepicker';
            timeInput.type = 'time';
            timeInput.name = `${day}-${type}`;
            timeInput.required = true;
            
            return timeInput;
        
        }

        /*function createSelect(type, day) {
            const select = document.createElement('select');
            select.className = 'timepicker';
            select.name = `${day}-${type}`;

            const minHour = 8; // Hora mínima (ejemplo: 08:00)
            const maxHour = 18; // Hora máxima (ejemplo: 18:00)

            // Agregar opciones al select con intervalos de 5 minutos
            for (let hour = minHour; hour <= maxHour; hour++) {
                for (let minute = 0; minute < 60; minute += 5) { // Intervalos de 5 minutos
                    const time = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
                    const option = document.createElement('option');
                    option.value = time;
                    option.textContent = time;
                    select.appendChild(option);
                }
            }

            return select;
        }*/
        
        function addHolidayInterval() {
            const specialSchedule = document.getElementById('holidaySchedule');
            const holidayDiv = document.createElement('div');
            holidayDiv.className = 'interval';
    
            const dateRangeInput = document.createElement('input');
            dateRangeInput.type = 'text'; // Cambiar a 'text' en lugar de 'daterange'
            dateRangeInput.name = 'holiday-range';
            dateRangeInput.className= 'date-range';
            dateRangeInput.required = true;
            holidayDiv.appendChild(document.createTextNode('Rango de fechas festivas: '));
            holidayDiv.appendChild(dateRangeInput);
            
            holidayDiv.appendChild(addDeleteButton());
    
            specialSchedule.appendChild(holidayDiv);
    
            // Inicializar Flatpickr en el nuevo input de rango de fechas
            flatpickr(".date-range", {
                mode: "range",
                dateFormat: "d/m/Y",
                locale: {
                    rangeSeparator: " hasta ",
                    firstDayOfWeek: 1, // Establece que la semana comience en lunes
                    weekdays: {
                        shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                    },
                    months: {
                        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                    }
                }

            });
        }
        
        function addUnusualTime() {
            const specialSchedule = document.getElementById('unusualSchedule');
            const specificTimeDiv = document.createElement('div');
            specificTimeDiv.className = 'interval';
    
            const dateInput = document.createElement('input');
            dateInput.type = 'date';
            dateInput.name = 'specific-date';
            dateInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode('Fecha: '));
            specificTimeDiv.appendChild(dateInput);
    
            const startTimeInput = document.createElement('input');
            startTimeInput.type = 'time';
            startTimeInput.name = 'start-time';
            startTimeInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode(' Hora de inicio: '));
            specificTimeDiv.appendChild(startTimeInput);
    
            const endTimeInput = document.createElement('input');
            endTimeInput.type = 'time';
            endTimeInput.name = 'end-time';
            endTimeInput.required = true;
            specificTimeDiv.appendChild(document.createTextNode(' Hora de fin: '));
            specificTimeDiv.appendChild(endTimeInput);
            
            specificTimeDiv.appendChild(addDeleteButton());
    
            specialSchedule.appendChild(specificTimeDiv);



            flatpickr(dateInput, {
                mode: "single",
                dateFormat: "d/m/Y",
                locale: {
                    rangeSeparator: " hasta ",
                    firstDayOfWeek: 1, // Establece que la semana comience en lunes
                    weekdays: {
                        shorthand: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                        longhand: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
                    },
                    months: {
                        shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
                    }
                }

            });
        }

        document.getElementById('workForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const dateRange = document.getElementById('date-range').value.split(" hasta ");
            const start_date = dateRange[0];
            const end_date = dateRange[1];

            const schedule = {};

            // Procesa la fecha de inicio, la de final y el horario regular
            
            document.querySelectorAll('.day').forEach(day => {
                const dayName = day.id;
                schedule[dayName] = [];
                day.querySelectorAll('.interval').forEach(interval => {
                    const entry = interval.querySelector(`input[name="${dayName}-entry"]`).value;
                    const exit = interval.querySelector(`input[name="${dayName}-exit"]`).value;
                    schedule[dayName].push({ entry, exit });
                });
            });
            
            
            // Manda los festivos al programa Python
            
            const holidays = [];
            
            const holidaysSchedule = document.getElementById('holidaySchedule');
            holidaysSchedule.querySelectorAll('.date-range').forEach(holidayRange => {
                const dateRange = holidayRange.value.split(" hasta ");
                const start_date = dateRange[0];
                const end_date = dateRange[1];
                holidays.push([start_date , end_date]);
                
            });

            // Manda los horarios excepcionales al programa Python

            const unusuals = [];
            const unusualSchedule = document.getElementById('unusualSchedule');

            unusualSchedule.querySelectorAll('.interval').forEach(unusualWorkDay => {
                const date = unusualWorkDay.querySelector(`input[name="specific-date"]`).value;
                const start_time = unusualWorkDay.querySelector(`input[name="start-time"]`).value;
                const end_time = unusualWorkDay.querySelector(`input[name="end-time"]`).value;

                unusuals.push({ date, start_time, end_time });
            });





            fetch('/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ start_date, end_date, schedule, unusuals, holidays})
            })
            .then(response => response.json())
            .then(data => {
                    const tableBody = document.querySelector('#scheduleTable tbody');
                    tableBody.innerHTML = ''; // Vacía la tabla antes de llenarla con los nuevos datos
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        const dateCell = document.createElement('td');
                        dateCell.textContent = item[0];
                        row.appendChild(dateCell);

                        const intervalsCell = document.createElement('td');
                        item[1].forEach(interval => {
                            const intervalText = document.createTextNode(`${interval[0]} - ${interval[1]}`);
                            intervalsCell.appendChild(intervalText);
                            intervalsCell.appendChild(document.createElement('br'));
                        });
                        row.appendChild(intervalsCell);

                        const valueCell = document.createElement('td');
                        valueCell.textContent = item[2];
                        row.appendChild(valueCell);

                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        });
        

    </script>
</body>
</html>
